---
layout: main
---

<style>
#section {
    background-color:black;
    color:white;
    width:350px;
    float:left;
    padding:10px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#footer {
    clear:both;
    text-align:center;
   padding:5px;
}
</style>

<main id="about">
	<div id="section">
	<h1 class="page-header">About</h1>
	<section id="about-content", width="350px">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}" width="200" height="200" align="middle">
		{{ content }}

	<div id="nav">
	<h1 class="page-header">Abut</h1>
	<section id="about-content">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}" width="200" height="200" align="middle">
		{{ content }}

	</section>

</main>
